<div class="sf__footer-block-content sf__footer-block-comment flex">
    <div class="shopStarLevel">
      <a href="/pages/comment-form">
        <div class="title">{{section.settings.commentName}}</div>
        <div class="StarLevel flex">
            {% assign Stars = section.settings.commentStars | abs %}
            {% assign StarsCeil = Stars | ceil %}            
            {% for i in (1..5) %}
                <div class="star {% if i > Stars and i == StarsCeil %} href {% elsif i <= Stars %}like{% endif %}"></div>
            {% endfor %}             
        </div>
        <div class="desc">{{section.settings.commentDesc}}</div>        
      </a>

    </div>
    <div class="commentLists commentSwiper ">
        <div class="swiper-wrapper">
            {% for block in blocks %}
                  {% if block.type == 'comment' %}
                    <div class="commentItem swiper-slide">
                        <div class="flex justify-between">
                            <div class="stars flex justify-between">
                                {% assign commentStar = block.settings.commentStar | abs %}
                                {% assign commentStarCeil = commentStar | ceil %}
                                {% for i in (1..5) %}
                                    <div class="star {% if i > commentStar and i == commentStarCeil %} href {% elsif i <= commentStar %}like{% endif %}"></div>
                                {% endfor %}                                 
                                
                            </div>
                            <div class="date">{{ block.settings.commentDate }}</div>
                        </div>
                        <div class="commentContent">
                            <p class="title">{{ block.settings.commentTitle }}</p>
                            <p class="desc">{{ block.settings.commentDescription }}</p>
                            <p class="name">{{ block.settings.commentName }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %} 
            
        </div>
        <button class="sf-slider__controls-button swiper-button-prev sf-slider__controls-prev border sm:hover:border-black rounded-full cursor-pointer mx-2 ">
            <svg width="14px" height="14px" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z"></path></svg>
        </button>
        <button class="sf-slider__controls-button swiper-button-next sf-slider__controls-next border sm:hover:border-black rounded-full cursor-pointer mx-2 ">
            <svg fill="currentColor" width="14px" height="14px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M218.101 38.101L198.302 57.9c-4.686 4.686-4.686 12.284 0 16.971L353.432 230H12c-6.627 0-12 5.373-12 12v28c0 6.627 5.373 12 12 12h341.432l-155.13 155.13c-4.686 4.686-4.686 12.284 0 16.971l19.799 19.799c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L235.071 38.101c-4.686-4.687-12.284-4.687-16.97 0z"></path></svg>
        </button>
    </div>
  </div>
  <style>
    .star{ background-color: #ddd;position: relative;}
    .star::after{content: '';width: 100%; height: 100%; display: block;background: url('https://cdn.shopify.com/s/files/1/0610/7208/1122/files/20220726-151342.png?v=1658987973') 50% 50% no-repeat;background-size: 80%; position: absolute; top: 0; left: 0; }
    .star.href::before{content: '';width: 50%;height: 100%;position: relative;position: absolute; top: 0; left: 0;background-color: green;}
    .star.like{background-color: green;}
    .sf__footer-block-comment{width: 100%; position: relative; background: #fff;border: 1px solid #e5e5e5;padding-top: 20px;overflow: hidden; }
    .sf__footer-block-comment .shopStarLevel{width: 200px; position: relative; text-align: center; color: #191919; margin:0 auto 10px; z-index: 2; background-color: #fff;}
    .sf__footer-block-comment .shopStarLevel .title{font-size: 24px; margin: 0 0 12px;width: 200px;}
    .sf__footer-block-comment .shopStarLevel .StarLevel{position: relative;margin: 0 auto 12px; width: 162px; justify-content: space-between;}
    .sf__footer-block-comment .shopStarLevel .StarLevel .star{width: 31px; height: 31px;}
    .sf__footer-block-comment .shopStarLevel .desc{font-size: 13px;line-height: 16px;margin: 0 0 16px;width: 200px;}
  
    .sf__footer-block-comment .commentLists{width:calc(100% - 200px);  margin-bottom:10px; padding-left:40px; position: relative;}
    .sf__footer-block-comment .commentLists .swiper-wrapper{width: 100%; position: relative; }
    .sf__footer-block-comment .commentLists .commentItem{position: relative; width: 100%;padding-right: 40px;box-sizing: border-box;}
    .sf__footer-block-comment .commentLists .commentItem .stars{width: 100px;}
    .sf__footer-block-comment .commentLists .commentItem .stars .star{width: 18px;height: 18px;}
    .sf__footer-block-comment .commentLists .commentItem .date{color: rgba(0,0,0,0.6); font-size: 12px;}
    .sf__footer-block-comment .commentLists .commentItem .commentContent{margin-top: 12px;}
    .sf__footer-block-comment .commentLists .commentItem .commentContent p{margin-bottom: 6px;}
    .sf__footer-block-comment .commentLists .commentItem .commentContent .title{font-size: 14px;font-weight: 900; color: #191919;}
    .sf__footer-block-comment .commentLists .commentItem .commentContent .desc{font-size: 13px;color: #191919;}
    .sf__footer-block-comment .commentLists .commentItem .commentContent .name{font-size: 12px; color: rgba(0,0,0,0.6);}
    .swiper-button-next, .swiper-button-prev{background-image:none;background-color: #fff; width: 25px;height: 25px; text-align: center; display: block;top: 65%;}
    .swiper-button-next svg, .swiper-button-prev svg{margin: 0 auto; display: block;}
    .swiper-button-prev{left: 0 !important;}
    /* .swiper-button-next{left: 350px !important;} */
  
  
    @media (max-width: 1300px){
        .sf__footer-block-comment{flex-direction: column; margin: 0 auto;}
        .sf__footer-block-comment .commentLists{width: 100%;}
        /* .swiper-button-next{left: auto !important; right: 0 !important;} */
    }
  
  </style>
  <script>
    (function(){        
        var footerCommentswiper = new Swiper('.commentSwiper',{
            direction: 'horizontal',
            freeMode: false,
            loop: false,            
            observer: true,      
            allowTouchMove:false,
            
        })
        $('.swiper-button-prev').on('click',function(){
            footerCommentswiper.slidePrev();
        })
        $('.swiper-button-next').on('click',function(){
            footerCommentswiper.slideNext();
        })
        
        
    })()
  </script>
  